:8888
root * /usr/share/caddy
file_server browse

log {
	output stdout
}

route /ttyd/* {
	uri strip_prefix /ttyd
	reverse_proxy localhost:8001
}

route /wstunnel/* {
	header  Connection  *Upgrade* 
	header  Upgrade     websocket 
	reverse_proxy localhost:8090
}

route /gg/* {
	uri strip_prefix /gg
	reverse_proxy www.google.com.hk:443
}

@chisel {
	path /
	header	Sec-Websocket-Protocol	chisel-v3
	header	Upgrade	websocket
}
reverse_proxy @chisel localhost:7777
