:8888


#log {
#	output stdout
#}

route /ttyd/* {
	uri strip_prefix /ttyd
	reverse_proxy localhost:8001
}

route /wstunnel/* {
	header  Connection  *Upgrade* 
	header  Upgrade     websocket 
	reverse_proxy localhost:8090
}


route /* {
	root * /usr/share/caddy
	file_server browse
	# reverse_proxy localhost:8080
}
